<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nway K</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/notiflix-aio-3.2.6.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Nway K</h1>
        <form id="formLogin">
            <input type="text" class="form-control mt-3" name="txtUsername" placeholder="Username" required>
            <input type="password" class="form-control my-2" name="txtPassword" placeholder="Password" required>
            <button type="submit" class="btn btn-primary mt-2">Login</button>
        </form>
    </div>

    <script src="/public/js/login.js"></script>
</body>

</html>